.a1 {
    text-decoration: none;
    color: white;
    margin-left: 90px;
    font-size: xx-large;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

nav {
    background-color: #4582ec;
    margin: 0px;
    padding: 38px 20px 38px 20px;
}

.s1 {
    margin-left: 90px;
    padding: 15px;
    width: 400px;
    border: none;
    border-radius: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}